@import '../../../assets/variables';  

:host {
  display: table-cell;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid $COLOR_LIGHT_GRAY;
  padding: 8px 12px;
  background-color: $COLOR_BACKGROUND_GRAY;
}
