<app-table>
  <app-thead>
    <app-th *ngFor="let col of model.columns" [style.text-align]="col.headerAlign">
      {{col.title}}
      <app-filter
        mode="debounce"
        *ngIf="getFilter(col)"
        [type]="getFilter(col)"
        [options]="getFilterOptions(col)"
        [(ngModel)]="filter[getColFilterProperty(col)]"
        (ngModelChange)="reloadFilter()"
      ></app-filter>
    </app-th>
  </app-thead>
  <span class="empty" *ngIf="emptyMessage && !items?.length">{{emptyMessage}}</span>
  <app-tbody>
    <app-tr *ngFor="let it of items">
      <app-td *ngFor="let col of model.columns">
        {{castValue(it, col)}}
      </app-td>
    </app-tr>
  </app-tbody>
  <app-tfoot *ngIf="model.paginated">
    <app-tr>
      <td [colSpan]="model.columns.length">
        <app-paginator [totalPages]="totalPages" [ngModel]="currentPage" (ngModelChange)="onChangeFilter($event)"></app-paginator>
      </td>
    </app-tr>
  </app-tfoot>
</app-table>
