<app-table>
  <app-thead>
    <app-th *ngFor="let col of model.columns" [style.text-align]="col.headerAlign">
      {{col.title}}
      <app-column-filter *ngIf="showFilter(col)" [column]="col"></app-column-filter>
    </app-th>
  </app-thead>
  <span class="empty" *ngIf="emptyMessage && !items?.length">{{emptyMessage}}</span>
  <app-tbody>
    <app-tr *ngFor="let it of items">
      <app-td *ngFor="let col of model.columns">
        {{castValue(it, col)}}
      </app-td>
    </app-tr>
  </app-tbody>
  <app-tfoot *ngIf="model.paginated">
    <app-paginator></app-paginator>
  </app-tfoot>
</app-table>
