:host {
  display: block;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  padding: 8px;

  h3 {
    margin: 8px 0;
  }
}
