$FONT_FAMILY: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$MAX_WIDTH_TO_SHOW_SIDEBAR: 768px;
$SIDEBAR_WIDTH: 280px;

$COLOR_BACKGROUND_GRAY: #f4f4f4;
$COLOR_LIGHT_GRAY: #c9c9c9;
$COLOR_DARK_GRAY: #757575;
$COLOR_DARK_BLUE: #005abb;

@mixin nonselect {
    .noselect {
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
                                    
    }
}